{% extends 'layouts/base.html' %}

{% set page_title = 'Sections in ' + suite.name %}

{% block body_header %}
<h1 class="h2">Sections in {{suite.name}}</h1>
{% endblock %}

{% block breadcrumbs %}
<nav class="pt-3" aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="{{ url_for('portal.index') }}">Portal</a>
        </li>
        <li class="breadcrumb-item">
            Packages
        </li>
        <li class="breadcrumb-item">
            <a href="{{ url_for('portal.suites_index') }}">Suites</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">
            {{suite.name}}
        </li>
    </ol>
</nav>
{% endblock %}

{% block body %}
<div class="col-md-auto">

    <div class="card-columns">
    {% for section in sections %}

        <div class="card">
            <div class="card-body">
              <a href="{{ url_for('portal.section_view', suite_name=suite.name, section_name=section.name, page=1) }}" class="card-link">
                <h5 class="card-title">{{section.name}}</h5>
                <h6 class="card-subtitle mb-2 text-muted">{{section.summary}}</h6>
              </a>
            </div>
        </div>

    {% endfor %}
    </div>

</div>

{% endblock %}
