{
    "ProjectName": "Test",
    "Archive": {
        "path": "/tmp/testrepo/",
        "develSuite": "dasyatis",
        "incomingSuite": "staging",
        "distroTag": "test"
    },

    "Suites": {
        "staging": {
          "components": [ "main", "contrib", "non-free" ],
          "architectures": [ "amd64", "i386" ]
        },
        "dasyatis": {
          "components": [ "main", "contrib", "non-free" ],
          "architectures": [ "amd64" ]
        }
    },

    "Synchrotron": {
      "syncEnabled": true,
      "syncBinaries": true,
      "source": {
        "suite": "testing",
        "architectures": [ "amd64",
                           "armel",
                           "armhf",
                           "i386",
                           "ia64",
                           "mips",
                           "mipsel",
                           "powerpc",
                           "s390",
                           "s390x",
                           "sparc",
                           "kfreebsd-amd64",
                           "kfreebsd-i386",
                           "m68k",
                           "x32" ],
        "repoUrl": "http://ftp.debian.org/debian/"
      }
    }
}
