# Build output
build/

# Compiled Object files
*.o
*.obj

# Compiled Dynamic libraries
*.so

# Compiled Static libraries
*.a
*.lib

# DUB
.dub
docs.json
__dummy.html
dub.selections.json

# Code coverage
*.lst
