{% extends 'layouts/base.html' %}

{% set active_menu = 'synchronization' %}
{% set page_title = 'Synchronization Issue Overview' %}

{% block breadcrumbs %}
<nav class="pt-3" aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="{{ url_for('overview.index') }}">Home</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">
            Sync
        </li>
    </ol>
</nav>
{% endblock %}

{% block body_header %}
<h1 class="title">Package Synchronization Target Suites</h1>
{% endblock %}

{% block body %}
<div class="columns is-multiline is-mobile">

    {% for sconf in sync_configs %}

    <div class="column is-5">

    <div class="card">
    <header class="card-header">
        <p class="card-header-title">
        <i class="fas fa-compress-arrows-alt"></i>&nbsp;{{sconf.destination_suite.name}}
        </p>
    </header>

    <div class="card-content py-2">
        <div class="content">
            <p class="mb-1"><i class="fas fa-expand-arrows-alt"></i>&nbsp;&nbsp;<b>{{sconf.source.os_name}} {{sconf.source.suite_name}}</b></p>
            <ul class="mt-0">
                <li>Synchronization allowed:&nbsp;&nbsp;{% if sconf.sync_enabled %}<font class="fas fa-check" aria-hidden="true" color="green"></font>{% else %}<font class="fas fa-times" aria-hidden="true" color="orange"></font>{% endif %}</li>
                <li>Automatic sync enabled:&nbsp;&nbsp;{% if sconf.sync_auto_enabled %}<font class="fas fa-check" aria-hidden="true" color="green"></font>{% else %}<font class="fas fa-times" aria-hidden="true" color="orange"></font>{% endif %}</li>
                <li>Pull binaries from source:&nbsp;&nbsp;{% if sconf.sync_binaries %}<font class="fas fa-check" aria-hidden="true" color="green"></font>{% else %}<font class="fas fa-times" aria-hidden="true" color="orange"></font>{% endif %}</li>
                <li>Attempt auto cruft removal:&nbsp;&nbsp;{% if sconf.auto_cruft_remove %}<font class="fas fa-check" aria-hidden="true" color="green"></font>{% else %}<font class="fas fa-times" aria-hidden="true" color="orange"></font>{% endif %}</li>
            </ul>
        </div>
    </div>
    <footer class="card-footer">
        <a href="{{ url_for('synchronization.issues_table', suite_name=sconf.destination_suite.name) }}" class="card-footer-item">Suite Sync Issue Table</a>
    </footer>
    </div>

    </div>

    {% endfor %}

</div>
{% endblock %}
