{% extends 'layouts/base.html' %}

{% set active_menu = 'depcheck' %}

{% block breadcrumbs %}
<nav class="pt-3" aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="{{ url_for('overview.index') }}">Home</a>
        </li>
        <li class="breadcrumb-item {{'active' if suites }}" aria-current="page">
            <a href="{{ url_for('depcheck.index') }}">DepCheck</a>
        </li>
        {% if suite %}
        <li class="breadcrumb-item {{'active' if not issue}}" aria-current="page">
            <a href="{{ url_for('depcheck.issue_list', suite_name=suite.name, ptype=ptype, arch_name=arch_name, page=1) }}">{{suite.name}} [{{arch_name}}] - {{ptype}}</a>
        {% endif %}
        {% if issue %}
        <li class="breadcrumb-item active" aria-current="page">{{issue.package_name}} - {{issue.package_version}}</li>
        {% endif %}
    </ol>
</nav>
{% endblock %}
