{% extends 'migrations/layout.html' %}

{% set page_title = 'Package Migrations' %}

{% block body_header %}
<h1 class="title mb-4">Package Migration Excuses</h1>
{% endblock %}

{% block body %}
<div class="columns is-multiline is-mobile">
<div class="column is-5">

    {% for repo_name, mtasks in migrations.items() %}
    <h4 class="subtitle is-4">Repository: <b>{{repo_name}}</b></h4>
    {% for m in mtasks %}
        <a class="button is-medium is-fullwidth is-info is-outlined" href="{{ url_for('migrations.excuses_list',
                                                                                       repo_name=m.repo_name,
                                                                                       target_suite_name=m.to,
                                                                                       page=1) }}" role="button">
        {{m.from}}&nbsp;<i class="fas fa-long-arrow-alt-right"></i>&nbsp;{{m.to}}
        </a>
        <br/>
    {% endfor %}
    {% endfor %}

</div>
</div>
{% endblock %}
