<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{{ page_title }}{% endblock %} - {{ config.PROJECT }}</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/bootstrap.min.css') }}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/fontawesome/fontawesome.min.css') }}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/fontawesome/all.min.css') }}"/>
    <link href="{{ url_for('static', filename='css/laniakea-swview.css') }}" rel="stylesheet">
    {% block css %}{% endblock %}

</head>
<body>
    <nav class="navbar navbar-dark bg-dark navbar-static-top navbar-expand-md" role="navigation">
        <div class="container">
        <!-- Brand and toggle get grouped for better mobile display-->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>☰
        </button>
        <a class="navbar-brand" href="{{ url_for('portal.index') }}">{{ config.PROJECT }}</a>
        <div id="bs-example-navbar-collapse-1" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('portal.suites_index') }}">Packages</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('portal.categories_index') }}">Software</a>
            </li>
            </ul>
        </div>
        </div>
    </nav>

    {% block container %}

    <div class="container">

      {% block breadcrumbs %}{% endblock %}

      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3">
            {% block body_header %}{% endblock %}
      </div>
      {% block flash_message %}
        {% with messages = get_flashed_messages(with_categories=True) %}
            {% if messages %}
            {% for category, msg in messages %}
                <div class="alert alert-{{ category }}">
                {{ msg|safe }}
                </div>
            {% endfor %}
            {% endif %}
      {% endwith %}
      {% endblock %}

      {% block body %}{% endblock %}
    </div>
    {% endblock %}

    <footer class="text-muted">
        <div class="container">
        <br/>
        <br/>
        <p class="float-right">
            <small>
            <a href="#">Back to top</a>
            </small>
        </p>
        <p>
            <small>
            Powered by
            <a href="https://github.com/lkorigin/laniakea">laniakea-swview</a>.
            </small>
        </p>
        </div>
    </footer>

<script src="{{ url_for('static', filename='js/jquery/jquery.slim.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/popper/popper.min.js') }}"></script>
<script src="{{ url_for('static', filename='bootstrap/bootstrap.min.js') }}"></script>
{% block js %}{% endblock %}

</body>
</html>
