{% extends 'layouts/base.html' %}

{% set active_menu = 'overview' %}
{% set page_title = 'Overview' %}

{% block body_header %}
<h1 class="h2">{{ config.PROJECT }}</h1>
<div class="btn-toolbar mb-2 mb-md-0">
    <div class="btn-group mr-2"></div>
    <a href="{{ config.BUG_REPORT_URL }}" class="btn btn-sm btn-outline-secondary" role="button" aria-pressed="true">Report Bug</a>
    <button class="btn btn-sm btn-outline-secondary">Software</button>
</div>
{% endblock %}

{% block body %}

<h3>Latest changes</h3>
<p>Not implemented.</p>

{% endblock %}
