{% extends 'layouts/base.html' %}

{% set active_menu = 'overview' %}
{% set page_title = 'Overview' %}

{% block body %}

<div class="column is-10">

<section class="is-info welcome is-small">
    <div class="container">
      <h1 class="title">Welcome!</h1>
      <h2 class="subtitle">
        These pages contain resources to help with development of {{ config.PROJECT }}.
      </h2>
      <p>
          We currently keep track of {{repo_count}} package repositories in the archive.
          Some statistics about the main repository are listed below.
      </p>
    </div>
</section>


<section class="info-tiles">
    <div class="tile is-ancestor has-text-centered">
        <div class="tile is-parent">
	    <article class="tile is-child box">
                <p class="title">{{package_count}}</p>
		<p class="subtitle">Packages</p>
            </article>
        </div>

        {% if dev_target %}
        <div class="tile is-parent">
	    <article class="tile is-child box">
              <p class="title">{{dev_target.name}}</p>
              <p class="subtitle">Development Suite</p>
            </article>
        </div>
        {% endif %}

        <div class="tile is-parent">
            <article class="tile is-child box">
              <p class="title">unknown</p>
              <p class="subtitle">Stable Suite</p>
            </article>
        </div>
        <div class="tile is-parent">
            <article class="tile is-child box">
              <p class="title">??</p>
              <p class="subtitle">Pending Jobs</p>
            </article>
        </div>
    </div>
</section>


<div class="columns">

    <div class="column is-6">
    <div class="card events-card">
        <header class="card-header">
            <p class="card-header-title">
                Last Events
            </p>
        </header>
        <div class="card-table">
            <div class="content">
                <table class="table is-fullwidth is-striped">
                    <tbody>
                        <tr>
                            <td width="5%"><i class="far fa-bell"></i></td>
                            <td>Not yet implemented</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    </div>


    <div class="column is-6">
    <div class="card events-card">
        <header class="card-header">
            <p class="card-header-title">
                Help Actions
            </p>
        </header>
        <div class="card-table">
            <div class="content">
                <table class="table is-fullwidth is-striped">
                    <tbody>
                        <tr>
                            <td width="5%"><i class="fas fa-external-link-alt"></i></td>
                            <td>Report Bug</td>
                            <td class="level-right"><a class="button is-small is-primary" href="{{ config.BUG_REPORT_URL }}">Go</a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    </div>

</div>

</div>
{% endblock %}
