{% extends 'depcheck/layout.html' %}

{% set page_title = 'Dependency Check' %}

{% block body_header %}
<h1 class="title">Dependency Check</h1>
{% endblock %}

{% block body %}

<div class="columns is-multiline is-mobile">

    {% for suite in suites %}

    <div class="column is-5">

    <div class="card">
    <header class="card-header">
        <p class="card-header-title">
        {{suite.name}}

        &nbsp;
        {% set btn_style = 'btn-secondary' %}
        {% if suite.parent %}
          <span class="tag is-light">Child Suite</span>
        {% endif %}
        {% if suite.accept_uploads %}
          <span class="tag is-info">Accepts Uploads</span>
        {% endif %}
        {% if suite.devel_target %}
          <span class="tag is-primary">Development Target</span>
        {% endif %}
        </p>
    </header>

    {% if suite.parent %}
    <div class="card-content py-2">
        <div class="content">
        Overlay for {{suite.parent.name}}
        </div>
    </div>
    {% endif %}
    <footer class="card-footer">
        <a href="{{ url_for('depcheck.issue_list', suite_name=suite.name, ptype='binary', arch_name=suite.primary_architecture.name, page=1) }}" class="card-footer-item">Binary Package Issues</a>
        <a href="{{ url_for('depcheck.issue_list', suite_name=suite.name, ptype='source', arch_name=suite.primary_architecture.name, page=1) }}" class="card-footer-item">Source Package Issues</a>
    </footer>
    </div>

    </div>

    {% endfor %}

</div>

{% endblock %}
