{% extends 'depcheck/layout.html' %}

{% set page_title = 'Dependency Check' %}

{% block body_header %}
<h1 class="title">Dependency Check</h1>
{% endblock %}

{% block body %}

<div class="columns is-multiline is-mobile">

    {% for rss in repo_suites %}

    <div class="column is-5">

    <div class="card">
    <header class="card-header">
        <p class="card-header-title">
        <span class="has-text-weight-light">{{rss.repo.name}}</span>&nbsp;{{rss.suite.name}}
        &nbsp;
        {% set btn_style = 'btn-secondary' %}
        {% if rss.suite.parents %}
          <span class="tag is-light">Child Suite</span>
        {% endif %}
        {% if rss.accept_uploads %}
          <span class="tag is-info">Accepts Uploads</span>
        {% endif %}
        {% if rss.devel_target %}
          <span class="tag is-primary">Development Target</span>
        {% endif %}
        </p>
    </header>

    {% if rss.suite.parents %}
    <div class="card-content py-2">
        <div class="content">
        Overlay for {% for parent in rss.suite.parents  %}<em>{{ parent.name }}</em>{%- if not loop.last %}, {% endif %}{% endfor %}
        </div>
    </div>
    {% endif %}
    <footer class="card-footer">
        <a href="{{ url_for('depcheck.issue_list', repo_name=rss.repo.name, suite_name=rss.suite.name, ptype='binary', arch_name=rss.suite.primary_architecture.name, page=1) }}"
           class="card-footer-item">Binary Package Issues</a>
        <a href="{{ url_for('depcheck.issue_list', repo_name=rss.repo.name, suite_name=rss.suite.name, ptype='source', arch_name=rss.suite.primary_architecture.name, page=1) }}"
           class="card-footer-item">Source Package Issues</a>
    </footer>
    </div>

    </div>

    {% endfor %}
</div>

{% endblock %}
