{% extends 'layouts/base.html' %}

{% set active_menu = 'depcheck' %}

{% block breadcrumbs %}
<ul>
    <li>
        <a href="{{ url_for('overview.index') }}">Home</a>
    </li>
    <li class="{{'is-active' if suites }}">
        <a href="{{ url_for('depcheck.index') }}">DepCheck</a>
    </li>
    {% if suite %}
    <li class="{{'is-active' if not issue}}">
        <a href="{{ url_for('depcheck.issue_list', suite_name=suite.name, ptype=ptype, arch_name=arch_name, page=1) }}">{{suite.name}} [{{arch_name}}] - {{ptype}}</a>
    </li>
    {% endif %}
    {% if issue %}
    <li class="is-active">{{issue.package_name}} - {{issue.package_version}}</li>
    {% endif %}
</ul>
{% endblock %}
