{% extends 'layouts/base.html' %}

{% set active_menu = 'overview' %}
{% set page_title = 'Overview' %}

{% block body %}

<div class="column is-10">

<section class="is-info welcome is-small">
    <div class="container">
      <h1 class="title">Welcome!</h1>
      <h2 class="subtitle">
        These pages contain resources to help with development of {{ config.PROJECT }}.
      </h2>
      <p>
          We currently keep track of {{repo_count}} package repositories in the archive.
          Some statistics about the main repository are listed below.
      </p>
    </div>
</section>


<section class="info-tiles">
    <div class="tile is-ancestor has-text-centered">
        <div class="tile is-parent">
	          <article class="tile is-child box">
              <p class="title">{{package_count}}</p>
		          <p class="subtitle">Binary Packages</p>
            </article>
        </div>

        <div class="tile is-parent">
            <article class="tile is-child box">
              <p class="title">{{review_queue_count}}</p>
              <p class="subtitle">Pending Reviews</p>
            </article>
        </div>
        <div class="tile is-parent">
            <article class="tile is-child box">
              <p class="title">{{jobs_pending_count}}</p>
              <p class="subtitle">Pending Jobs</p>
            </article>
        </div>
        <div class="tile is-parent">
            <article class="tile is-child box">
              <p class="title">{{debcheck_issues_count}}</p>
              <p class="subtitle">Dependency Issues</p>
            </article>
        </div>

    </div>
</section>


<div class="columns">

    <div class="column is-6">
    <div class="card events-card">
        <header class="card-header">
            <p class="card-header-title">
                Maintenance Tasks
            </p>
        </header>
        <div class="card-table">
            <div class="content">
                <table class="table is-fullwidth is-striped">
                    <tbody>
                        <tr>
                            <td width="5%"><i class="fa-solid fa-file-import"></i></td>
                            <td><b>Artifact Import</b></td>
                            <td>{{rubicon_nextrun_time}}</td>
                        </tr>
                        <tr>
                            <td width="5%"><i class="fa-solid fa-location-arrow"></i></td>
                            <td><b>Repository Publication</b></td>
                            <td>{{publish_nextrun_time}}</td>
                        </tr>
                        <tr>
                            <td width="5%"><i class="fas fa-route"></i></i></td>
                            <td><b>Package Migration</b></td>
                            <td>{{spears_nextrun_time}}</td>
                        </tr>
                        <tr>
                            <td width="5%"><i class="fa-solid fa-eye"></i></td>
                            <td><b>Package Depcheck</b></td>
                            <td>{{debcheck_nextrun_time}}</td>
                        </tr>
                        <tr>
                            <td width="5%"><i class="fa-solid fa-down-left-and-up-right-to-center"></i></td>
                            <td><b>Package Synchronization</b></td>
                            <td>{{synchrotron_nextrun_time}}</td>
                        </tr>
                        <tr>
                            <td width="5%"><i class="fa-solid fa-trash-can"></i></td>
                            <td><b>Expired Data Cleanup</b></td>
                            <td>{{expire_nextrun_time}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    </div>


    <div class="column is-6">
    <div class="card events-card">
        <header class="card-header">
            <p class="card-header-title">
                Help Actions
            </p>
        </header>
        <div class="card-table">
            <div class="content">
                <table class="table is-fullwidth is-striped">
                    <tbody>
                        <tr>
                            <td width="5%"><i class="fas fa-external-link-alt"></i></td>
                            <td>Report Bug</td>
                            <td class="level-right"><a class="button is-small is-primary" href="{{ config.BUG_REPORT_URL }}">Go</a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    </div>

</div>

</div>
{% endblock %}
