{% extends 'layouts/base.html' %}

{% if parent_category != category %}
  {% set page_title = 'Category %s/%s'|format(parent_category.get_name(), category.get_name()) %}
{% else %}
  {% set page_title = 'Category %s'|format(category.get_name()) %}
{% endif %}

{% block breadcrumbs %}
<nav class="pt-3" aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="{{ url_for('portal.index') }}">Portal</a>
        </li>
        <li class="breadcrumb-item">
            <a href="{{ url_for('portal.categories_index') }}">Software</a>
        </li>
        {% if parent_category != category %}
        <li class="breadcrumb-item">
            <a href="{{ url_for('portal.category_view', cat_id=parent_category.get_id(), page=1) }}">{{parent_category.get_name()}}</a>
        </li>
        {% endif %}
        <li class="breadcrumb-item active" aria-current="page">
            {{category.get_name()}}
        </li>
    </ol>
</nav>
{% endblock %}

{% block body %}
<div class="row">
    <div class="col-md-3">
        {% if category.has_children() %}

        <p class="lead">Categories</p>
        <div class="list-group">
        {% for sc in category.get_children() %}
            <a class="list-group-item" href="{{ url_for('portal.category_view', cat_id=parent_category.get_id(), subcat_id=sc.get_id(), page=1) }}">{{sc.get_name()}}</a>
        {% endfor %}
        </div>

        {% endif %}
    </div>
    <div class="col-md-9">
        <h1>{{category.get_name()}}</h1>

        <div class="row">
            <div class="col-md-8">
                {% if current_page == 1 and not software %}
                <div class="alert alert-dark" role="alert">
                  No packages were found in this section!
                </div>
                {% endif %}

                <div class="list-group">
                    {% for sw in software %}
                    <a class="list-group-item" href="{{ url_for('software.details', cid=sw.cid) }}">
                        {% if sw.icon_name %}
                        <img class="rounded float-left mx-auto d-block pr-1" src="{{ config.APPSTREAM_MEDIA_URL + '/' + sw.gcid + '/icons/64x64/' + sw.icon_name }}" alt="Icon">
                        {% else %}
                        <img class="rounded float-left mx-auto d-block pr-1" src="data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9InllcyI/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iNjQiIGhlaWdodD0iNjQiIHZpZXdCb3g9IjAgMCA2NCA2NCIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+PGRlZnMvPjxyZWN0IHdpZHRoPSI2NCIgaGVpZ2h0PSI2NCIgZmlsbD0iI0VFRUVFRSIvPjxnPjx0ZXh0IHg9IjEzLjQ2MDkzNzUiIHk9IjMyIiBzdHlsZT0iZmlsbDojQUFBQUFBO2ZvbnQtd2VpZ2h0OmJvbGQ7Zm9udC1mYW1pbHk6QXJpYWwsIEhlbHZldGljYSwgT3BlbiBTYW5zLCBzYW5zLXNlcmlmLCBtb25vc3BhY2U7Zm9udC1zaXplOjEwcHQ7ZG9taW5hbnQtYmFzZWxpbmU6Y2VudHJhbCI+NjR4NjQ8L3RleHQ+PC9nPjwvc3ZnPg==" alt="Icon">
                        {% endif %}

                        <h4 class="list-group-item-heading">{{sw.name}}</h4>
                        {{sw.summary}}
                    </a>
                    {% endfor %}
                </div>
            </div>
        </div>

        <br/>
        <nav aria-label="Page navigation">
            <ul class="pagination pagination-sm flex-wrap">
                <li class="page-item {{'disabled' if current_page <= 1 }}">
                    <a class="page-link" href="{{ url_for('portal.category_view', cat_id=parent_category.get_id(), subcat_id=subcat_id, page=current_page-1) if current_page > 1 else '#'}}" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                {% for i in range(1, page_count + 1) %}
                <li class="page-item {{'active' if i == current_page }}">
                    <a class="page-link" href="{{ url_for('portal.category_view', cat_id=parent_category.get_id(), subcat_id=subcat_id, page=i) }}">{{i}}</a>
            </li>
                {% endfor %}

                <li class="page-item {{'disabled' if current_page >= page_count }}">
                    <a class="page-link" href="{{ url_for('portal.category_view', cat_id=parent_category.get_id(), subcat_id=subcat_id, page=current_page+1) if current_page < page_count else '#'}}" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        </nav>

    </div>
</div>

{% endblock %}
