{% extends 'depcheck/layout.html' %}

{% if ptype == 'source' %}
  {% set page_title = 'Dependency issues for ' + suite.name + ' (source, ' + arch_name + ')' %}
{% else %}
  {% set page_title = 'Dependency issues for ' + suite.name + ' (binary, ' + arch_name + ')' %}
{% endif %}

{% block body_header %}
<h1 class="h2">Dependency issues for {{'source' if ptype == 'source' else 'binary'}} packages in {{suite.name}} [{{arch_name}}]</h1>
{% endblock %}

{% block body %}

<ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link {{'active' if ptype != 'source'}}" href="{{ url_for('depcheck.issue_list', suite_name=suite.name, ptype='binary', arch_name=suite.primary_architecture.name, page=1) if ptype == 'source' else '#'}}">Binary Packages</a>
    </li>
    <li class="nav-item">
      <a class="nav-link {{'active' if ptype == 'source'}}" href="{{ url_for('depcheck.issue_list', suite_name=suite.name, ptype='source', arch_name=suite.primary_architecture.name, page=1) if ptype != 'source' else '#'}}">Source Packages</a>
    </li>
</ul>
<br/>

<div class="row">
    <div class="col-md-8">
        <div class="dropdown">
            <button id="archSelectButton" class="btn btn-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Architecture
            </button>
            <div class="dropdown-menu" aria-labelledby="archSelectButton">
                {% for arch in suite.architectures %}
                <a class="dropdown-item" href="{{ url_for('depcheck.issue_list', suite_name=suite.name, ptype=ptype, arch_name=arch.name, page=1) }}">{{arch.name}}</a>
                {% endfor %}
            </div>
        </div>
        <br/>

        <div class="list-group">
        {% for issue in issues %}
            <a class="list-group-item" href="{{ url_for('depcheck.issue_details', suite_name=suite.name, uuid=issue.uuid) }}">
              <h4 class="list-group-item-heading">{{issue.package_name}} {{issue.package_version}}</h4>
              <p class="mb-1 text-secondary"><i class="fas fa-microchip"></i> {{issue.architecture}}</p>
              {% for missing in issue.missing %}
              <p class="mb-1"><i class="far fa-question-circle"></i> {{missing.package_name}} {{missing.package_version}}</p>
              {% endfor %}
              {% for conflict in issue.conflicts %}
              <p class="mb-1"><i class="fas fa-fist-raised"></i></i> {{conflict.pkg1.package_name}} vs. {{conflict.pkg2.package_name}}</p>
              {% endfor %}
            </a>
        {% endfor %}
        </div>

    </div>
</div>

<br/>
<nav aria-label="Page navigation">
    <ul class="pagination pagination-sm flex-wrap">
        <li class="page-item {{'disabled' if current_page <= 1 }}">
            <a class="page-link" href="{{ url_for('depcheck.issue_list', suite_name=suite.name, ptype=ptype, arch_name=arch_name, page=current_page-1) if current_page > 1 else '#'}}" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
            </a>
        </li>
        {% for i in range(1, page_count + 1) %}
        <li class="page-item {{'active' if i == current_page }}">
            <a class="page-link" href="{{ url_for('depcheck.issue_list', suite_name=suite.name, ptype=ptype, arch_name=arch_name, page=i) }}">{{i}}</a>
       </li>
        {% endfor %}

        <li class="page-item {{'disabled' if current_page >= page_count }}">
            <a class="page-link" href="{{ url_for('depcheck.issue_list', suite_name=suite.name, ptype=ptype, arch_name=arch_name, page=current_page+1) if current_page < page_count else '#'}}" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
            </a>
        </li>
    </ul>
</nav>

{% endblock %}
