{% extends 'layouts/base.html' %}

{% set page_title = 'Suites' %}

{% block body_header %}

{% endblock %}

{% block breadcrumbs %}
<nav class="pt-3" aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="{{ url_for('portal.suites_index') }}">Packages</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">
            Suites
        </li>
    </ol>
</nav>
{% endblock %}

{% block body %}

<div class="columns">
    <div class="column">
        <h1 class="h2">Available suites in {{ config.OS_NAME }}</h1>
    </div>
    <div class="column is-one-quarter-desktop search">
        <form class="form-inline" action="/search_pkg" method="GET">
            <p class="control has-icons-left">
                <input id="term" name="term" class="input is-rounded" type="text" placeholder="Find a package...">
                <span class="icon is-left">
                    <i class="fas fa-search"></i>
                </span>
            
            </p>
        </form>
    </div>

</div>
<div class="columns is-multiline grid">
    
{% for suite in suites %}
    {% set btn_style = 'is-success' %}
    {% if suite.parent %}
      {% set btn_style = 'is-white' %}
    {% endif %}
    {% if suite.accept_uploads %}
      {% set btn_style = 'is-info' %}
    {% endif %}
    {% if suite.devel_target %}
      {% set btn_style = 'is-warning' %}
    {% endif %}
    <div class="column is-one-quarter">
        <a href="{{ url_for('portal.sections_index', suite_name=suite.name) }}">
            <div class="notification {{btn_style}} suite-btn">
            
                <p><strong>{{suite.name}}</strong></p>
                <p>
                {% if suite.parent %}
                    <small>Overlay for {{suite.parent.name}}</small><br/>
                {% endif %}
                {% if suite.accept_uploads %}
                    <small>Accepts uploads</small><br/>
                {% endif %}
                {% if suite.devel_target %}
                    <small>Development target</small><br/>
                {% endif %}
                </p>
            
            </div>
        </a>
    </div>
{% endfor %}

</div>

{% endblock %}
