name: Build Test

on:
  push:
    branches: [ 'master', 'wip/**' ]
  pull_request:
    branches: [ 'master' ]

jobs:
  linters-deb-testing:
    name: Static Checks (Debian Testing)
    runs-on: ubuntu-24.04

    steps:
    - uses: actions/checkout@v6

    - name: Create Native Environment
      run: cd tests/ci/ && podman build -t laniakea -f ./Dockerfile-debian-testing .

    - name: Set up Python virtual environment
      run: podman run -a stdout -a stderr -v `pwd`:/build laniakea
          ./tests/ci/run-venv-prepare.sh lint-only

    - name: Check
      run: podman run -a stdout -a stderr -v `pwd`:/build laniakea
           ./tests/ci/run-lint.sh


  test-deb-stable:
    name: Testsuite (Debian 13)
    runs-on: ubuntu-24.04

    steps:
    - uses: actions/checkout@v6

    - name: Create Native Environment
      run: cd tests/ci/ && podman build -t laniakea -f ./Dockerfile-debian-stable .

    - name: Set up Python virtual environment
      run: podman run -a stdout -a stderr -v `pwd`:/build laniakea
           ./tests/ci/run-venv-prepare.sh

    - name: Testsuite
      run: podman run --privileged -a stdout -a stderr --security-opt seccomp=unconfined -v `pwd`:/build laniakea
           ./tests/ci/run-tests.sh


  test-deb-testing:
    name: Testsuite (Debian 14)
    runs-on: ubuntu-24.04

    steps:
    - uses: actions/checkout@v6

    - name: Create Native Environment
      run: cd tests/ci/ && podman build -t laniakea -f ./Dockerfile-debian-testing .

    - name: Set up Python virtual environment
      run: podman run -a stdout -a stderr -v `pwd`:/build laniakea
           ./tests/ci/run-venv-prepare.sh

    - name: Testsuite
      run: podman run --privileged -a stdout -a stderr --security-opt seccomp=unconfined -v `pwd`:/build laniakea
           ./tests/ci/run-tests.sh
